/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
 margin:0;
 padding:0;
 box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}
 a {
  text-decoration: none;
  color:#fff;
 }
nav {
  position: fixed;
  width: 100%;
  z-index: 99;
  display: flex;
  background-color: #fff;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  justify-content: space-between;
  align-items:center;
  padding:1rem 1.5rem;
}
nav h1 a{
  text-decoration: none;
  color: black;
}
.nav-menu {
  align-items: center;
  margin: 0 1rem;
  display: none;
}

.nav-menu a {
  margin: 0 2.5rem;
  font-size: 18px;
  font-weight: 600;
  color:black;
  text-decoration: none;
  transition: .1s;
}
.nav-menu a:hover {
    border-bottom: 5px solid hsl(224, 89%, 60%);;
    border-radius: 2px;
}
/* NavToggle Btn */
.nav-toggle {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
  .mobile-nav-menu {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: auto;
    z-index:98;
    padding-top: 5rem;
    transform: translateY(-50%);
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    opacity:0;
    background-color: #fff;
    transition: 0.3s;
  }
.mobile-nav-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}
.mobile-nav-menu a {
  display: block;
  color:black;
  padding: 1.5rem;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  font-size:1.5rem;
}
.mobile-nav-menu a:hover{
  font-weight: 600;
  color:#fff;
  transition: .4s;
  background-color: rgba(10, 10, 238, 0.857);;
  border-radius: 1.5px;
}

@media (min-width:769px) {
  .mobile-nav-menu, .nav-toggle {
    display: none;
  }
  .nav-menu {
    display: flex;;
  }
}
section {
  padding-top: 4rem;
  padding-bottom: 2rem;
  
}
.hidden {
   opacity: 0;
   filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0); 


}
/* Header*/
.home {
 position: relative;
  width: 100%;
  height: 90vh;
  color: #fff;
  background: linear-gradient(to left,#093dcb77,#00acee);
  background-color: #00acee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  position: relative;
  max-width: 900px;
}
.content h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  text-align: center;
  color: #fff;
  letter-spacing: .1rem;
}
.content-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -65px;
}
.content-img img{
   width: 300px;
}
.icon-center {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: -16px;
}
.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: -40px;

}

.contact-btn a{
  display: inline-block;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  background-color: #1ab152;
  border-radius: 50px; 
  color: #fff; 
  font-size: 18px; 
  padding: 14px 30px;
  text-transform: uppercase;
  cursor: pointer; 
}


.home:before{
  content: '';
  bottom: 0;
  left: 0;
  position:absolute;
  width: 100%;
  height: 200px;
  background-color: #fff;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
/* About */
.section-title {
  text-align: center;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: hsl(224, 89%, 60%);
  font-size: 2rem;
  text-transform: uppercase;

}
.section-title::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3rem;
    background-color:hsl(224, 89%, 60%);
}
@media screen and (min-width: 768px){
.about__container {
    padding-top: 2rem;
}
}
@media screen and (min-width: 576px){
.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
}
}
.about__container {
    row-gap: 2rem;
    text-align: center;
}
.about__subtitle {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}
.about__text {
  font-size: 1rem;
}
.about__img {
    justify-self: center;
}
.about__img img {
  width: 350px;
  border-radius: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.bd-grid {
    max-width: 1024px;
    display: grid;
    margin-left: 2rem;
    margin-right: 2rem;
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/* ===== SKILLS =====*/
.skills__container {
 max-width: 90%;
 padding: 15px;
 
}
.skills__subtitle {
  margin-bottom: 1rem;
}

.skills__text {
  margin-bottom: 2rem;
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-right: 10px;
  font-weight: 600;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  cursor: pointer;
}

.skills__icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: hsl(224, 89%, 60%);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: hsl(224, 89%, 60%);
  height: .25rem;
  border-radius: .5rem;
  z-index: 90;
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 70%;
}

.skills__ux {
  width: 85%;
}
.skills__wp {
  width: 65%;
}
/* Services */
.services .section {
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  padding-top: 2rem;
}
.services__container {
  row-gap: 1rem;
}
.services__icon{
  font-size: 5rem;
  text-align: center;
  padding: 10px;
  color:rgba(10, 10, 238, 0.857);
}
.services__card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: .4s;
  border-radius: 2px; 
  text-align: center;
  padding: 18px;
  cursor: pointer;
  height: 100%;
  border-bottom: 10px solid rgba(10, 10, 238, 0.857);
  border-width: 5px;
}
.services__card:hover > .services__icon{
  color:#fff;
}
.services__card:hover{
  border: none;
 background-color: rgba(10, 10, 238, 0.857);
 color: #fff !important;
 transform: scale(1.1);
}
.services__title h4 {
  font-size: 20px;
  text-align: center;
}
.services__content {
  padding: 10px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .services__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

/* Work  */
.work__container {
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  padding-top: 2rem;
}
.work__container {
  row-gap: 2rem;
}
@media screen and (min-width: 768px) {
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}


 .work__card {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; 
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  padding: 15px 20px;
}
.work__img img {
  border-radius: .5rem;
}
.work__button i {
  font-size: 18px;
}

.work__button a{
  background-color: #00acee;
  padding: 0.70rem 1.5rem;
  color:#fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  margin-top: 100px;
  transition: .3s;
}

.work-title{
  padding: 28px;
  margin-bottom: -30px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: rgba(10, 10, 238, 0.857); 
  color: white; 
  cursor: pointer; 
  padding: 5px; 
  height: 60px;
  width: 60px;
  border-radius: 50%; 
  font-size: 30px; 
}


.footer {
  background-color: hsl(224, 56%, 12%);
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  padding: 1rem 0;
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 .5rem;
}